body {
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(202, 230, 255, 0.589);
}

.from1 {
    background-color: white;
    width: 400px;
    height: 550px;
    position: absolute;
    left: 550px;
    border-radius: 10px;
}

img {
    width: 250px;
    margin-left: 620px;
}

.hd {
    line-height: 30px;
    margin-top: 25px;
}

.h1 {
    text-align: center;
    position: relative;
    top: -15px;
    font-size: 25px;
    font-weight: 500;
}

.h2 {
    text-align: center;
    position: relative;
    top: -35px;
    font-size: 15px;
    color: gray;
}

.css {
    position: relative;
    top: -45px;
}

.css1 {
    position: relative;
    top: -50px;
    margin-left: 13px;

}

.css1 input {
    margin-top: 15px;
}

.css2 {
    margin-left: 13px;
    position: relative;
    top: -70px;
    line-height: 30px;

}

.js1 {
    font-size: 13px;
    color: gray;
}

.h3 {
    width: 180px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px grey;
}

.h4 {
    width: 180px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px grey;
}

.h5 {
    width: 370px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px gray;
}

.h6 {
    width: 370px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px grey;
}

.h7 {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px grey;
}

.h8 {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px grey;
}

.h9 {
    width: 124px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px grey;
}

.css3 {
    margin-left: 10px;
    position: relative;
    top: -90px;
    line-height: 30px;

}

.js2 {
    font-size: 13px;
    color: gray;
    margin-left: 5px;
}

.h10 {
    display: inline;
    justify-content: center;
    /* border: 1px solid black; */
    padding: 3px 15px;
    margin-left: 5px;
    /* position: relative;
    top: -70px; */
    border-radius: 5px;
    border: solid 1px grey;
}

.h11 {
    margin: 15px;
    font-size: 10px;
    position: relative;
    top: -110px;
    color: grey;
}

.h11 a {
    text-decoration: none;
}

.h12 {
    background-color: rgb(1, 168, 1);
    color: aliceblue;
    position: relative;
    left: 130px;
    top: -100px;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: solid 0px;
    font-weight: 700;
}

.h13 {
    margin-left: 125px;
    margin-top: -80px;
    font-size: 15px;
}

.h13 a {
    text-decoration: none;
    color: rgb(57, 161, 247);
}

/* mobile */

@media screen and (max-width:450px) {

    .uk {
        position: relative;
        left: -550px;
    }

    img {
        width: 200px;
    }
    
    .from1 {
        width: 340px;
        height: 500px;
        
    }
    .mg{
        margin-left: -4px;
    } 
    .css{
        width: 340px;
    }
    .h1 {
        font-size: 20px;
    }

    .h2 {
        font-size: 13px;
    }

    .h3 {
        width: 153px;
        height: 25px;
        font-size: 10px;
    }

    .h4 {
        width: 153px;
        height: 25px;
        font-size: 10px;
    }

    .h5 {
        width: 317px;
        height: 25px;
        font-size: 10px;
    }

    .h6 {
        width: 317px;
        height: 25px;
        font-size: 10px;
    }

    .js1 {
        font-size: 10px;
    }

    .js2 {
        font-size: 10px;
    }

    .h7 {
        width: 110px;
        height: 25px;
    }

    .h8 {
        width: 97px;
        height: 25px;
    }

    .h9 {
        width: 104px;
        height: 25px;
    }

    .h10 label {
        font-size: 10px;
    }

    .h10 input {
        width: 25px;
    }

    .h11 {
        font-size: 9px;
    }

    .h12 {
        width: 100px;
        height: 20px;
        font-size: 10px;
        margin-left: -01px;
        position: relative;
        top: -110px;
    }

    .h13 {
        font-size: 10px;
        position: relative;
        left: -05px;
        top: -20px;
    }


}

@media screen and (max-width:768px) and (min-width:450px) {
    .uk {
        position: relative;
        left: -350px;
    }

    img {
        width: 200px;
        padding-left: 05px;
    }

    .from1 {
        width: 350px;
        height: 500px;
    }

    .h1 {
        font-size: 20px;
    }

    .h2 {
        font-size: 13px;
    }

    .h3 {
        width: 153px;
        height: 25px;
        font-size: 10px;
    }

    .h4 {
        width: 153px;
        height: 25px;
        font-size: 10px;
    }

    .h5 {
        width: 317px;
        height: 25px;
        font-size: 10px;
    }

    .h6 {
        width: 317px;
        height: 25px;
        font-size: 10px;
    }

    .js1 {
        font-size: 10px;
    }

    .js2 {
        font-size: 10px;
    }

    .h7 {
        width: 110px;
        height: 25px;
    }

    .h8 {
        width: 97px;
        height: 25px;
    }

    .h9 {
        width: 104px;
        height: 25px;
    }

    .h10 label {
        font-size: 10px;
    }

    .h10 input {
        width: 25px;
    }

    .h11 {
        font-size: 9px;
    }

    .h12 {
        width: 100px;
        height: 20px;
        font-size: 10px;
        margin-left: -01px;
        position: relative;
        top: -110px;
    }

    .h13 {
        font-size: 10px;
        position: relative;
        left: -05px;
        top: -20px;
    }




}
